body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to the viewport height */

}


.my_footer p {
    padding-top:40px;
    font-size:14px;
}

.my_row_class
{
padding-top:15px;
}

.my_row_class mx-auto{
color:black;
font-size:12px;
}

.my_image{
width:100%;
height:400px;
}

.my-title
{
font-size:16px;
text-transform:uppercase;
}

.my_image_padding{
padding:5px;
}
.product_banner_image
{
width=100%;
}
.my-bottom-margin{
margin-bottom:10px;
}
.card-body h4
{
font-size:14px;
text-transform:uppercase;
letter-spacing:.2em
}
.my_image_banner
{
height:400px;
width:100%
}

.my-prod-row-class
{
padding-top:15px;
padding-bottom:20px;
}
.my-prod-row-class .mx_auto
{
color:black;
font-size:12px;
text-decoration:none;
}
.my-prod-title
{
font-size:5px;
text-transform:uppercase;
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;
font-family: Times New Roman, Times, serif;
font-size:20px;
}
.my-prod-text
{
padding-right:20px;
font-family: Times New Roman, Times, serif;
font-size:5px;
}
.my-search-text
{
padding-top:20px;
}
.my_custom_table
{
min-width:400px;
font-size:14px;
}
.my_custom_thead
{
font-weight:normal;
text-transform:uppercase;
letter-spacing:.2em;
background-color:black  ! important
color:white
}
.custom_a{
text-transform:none;
}

.custom_icon
{
text-decoration:none;
color:#868e96 ! important;
font-size:18px;
}
.my_custom_button
{
font-size: 10px;
padding: 3px 6px;
margin-top: 5px;
}