<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
    }

    .content {
      flex: 1;
    }

    .footer {
      background-color: #f8f9fa;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>

  <div class="content">
  </div>

  <footer class="footer">
    <p> & copy; Global supplements .All rights reserved</p>
   <div class="row">
    <div class="col">
    </div>
    <div class="col-auto">
        <a href="https://www.instagram.com/globalsupplements.in?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="text-decoration-none">
            <i class="fab fa-instagram"></i> Global_supplements
        </a>
    </div>
  </div>
  </footer>

</body>
</html>